<style>
    .avatar-sm {
        height: 2rem;
        width: 2rem;
    }

</style>
<div class="row col-sm-12" style="width: 400px;font-size: 10px;">
    <div class="avatar-sm mr-3 mx-lg-auto mb-4 float-left float-lg-none">
        <label>Pendente</label>
        <span class="avatar-title rounded-circle bg-soft-warning text-primary font-size-16"></span>
    </div>
    <div class="avatar-sm mr-3 mx-lg-auto mb-4 float-left float-lg-none">
        <label>Aceito</label>
        <span class="avatar-title rounded-circle bg-soft-success text-primary font-size-16"></span>
    </div>
    <div class="avatar-sm mr-3 mx-lg-auto mb-4 float-left float-lg-none">
        <label>Recusado</label>
        <span class="avatar-title rounded-circle bg-soft-danger text-primary font-size-16"></span>
    </div>
    <div class="avatar-sm mr-3 mx-lg-auto mb-4 float-left float-lg-none">
        <label>Preparação</label>
        <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-16"></span>
    </div>
    <div class="avatar-sm mr-3 mx-lg-auto mb-4 float-left float-lg-none">
        <label>Entrega</label>
        <span class="avatar-title rounded-circle bg-soft-info text-primary font-size-16"></span>
    </div>
    <div class="avatar-sm mr-3 mx-lg-auto mb-4 float-left float-lg-none">
        <label>Concluido</label>
        <span class="avatar-title rounded-circle bg-soft-success text-primary font-size-16"></span>
    </div>

</div>
<div class="row" style="margin-top: 40px;">
   
</div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">                    
                    <div class="table-responsive">
                        <table class="table mb-0" id="tabela">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Status</th>
                                    <th>Hora do Pedido</th>
                                    <th>Número</th>
                                    <th>Valor</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @pedidos.each_with_index do |pedido, index|%>
                                        <%if pedido.status == "pendente"%>
                                                <% @status = "pendente" 
                                                    cor = 'warning'%>
                                            <% elsif pedido.status == "aceito"%>
                                                <% @status = "aceito" 
                                                    cor = 'info'%>
                                            <% elsif pedido.status == "recusado"%>
                                                <% @status = "recusado" 
                                                    cor = 'danger'%>
                                            <% elsif pedido.status == "preparacao"%>
                                                <% @status = "preparação" 
                                                    cor = 'primary'%>
                                            <% elsif pedido.status == "entrega"%>
                                               <%  @status = "entrega" 
                                                    cor = 'success'%>
                                            <% elsif pedido.status == "concluido"%>                                        
                                                <% @status = "concluido"
                                                    cor = 'success'%>
                                        <%end%>
                                <% cliente = Client.find(pedido.client_id)%>
                                    <tr class="table-<%= cor%>">
                                        <th scope="row"><%= index + 1%></th>
                                        <td><%= @status%></td>
                                        <td><%= pedido.created_at.to_time.strftime('%d/%m/%Y - %H:%M')%></td>
                                        <td><%= cliente.numero%></td>
                                        <td><%= number_to_currency(pedido.valor_total, :unit => 'R$ ')%></td>
                                        <td style="width: 10px;"><%= link_to 'Imprimir', admin_path(pedido), class: 'btn btn-info'%></td>
                                    </tr>
                                <% end %>                                
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>                            
    </div>

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    function alteraStatus(valor, pedido){
        
        $.ajax({
            url: `/admin/pedidos/${valor}/?pedido=${pedido}`,
            type: 'PUT',
            success: function(response) {
               console.log('deu certo');
            }
        });
    }

    $(document).ready( function () {
        $('#tabela').DataTable();
    } );
</script>