<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center mb-3">
              <div class="avatar-xs mr-3">
                <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-18">
                  <i class="bx bx-copy-alt"></i>
                </span>
              </div>
              <h5 class="font-size-14 mb-0">Faturamento</h5>
            </div>
            <div class="text-muted mt-4">
              <h4><%= number_to_currency(@faturamento, :unit => 'R$ ', :separator => ',')%></h4>              
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center mb-3">
              <div class="avatar-xs mr-3">
                <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-18">
                  <i class="bx bx-copy-alt"></i>
                </span>
              </div>
              <h5 class="font-size-14 mb-0">Pedidos</h5>
            </div>
            <div class="text-muted mt-4">
              <h4 style="text-align: center;"><%=@pedidos%></h4>              
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center mb-3">
              <div class="avatar-xs mr-3">
                <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-18">
                  <i class="bx bx-archive-in"></i>
                </span>
              </div>
              <h5 class="font-size-14 mb-0">Clientes</h5>
            </div>
            <div class="text-muted mt-4">
              <h4 style="text-align: center;"><%=@cliente%></h4>              
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center mb-3">
              <div class="avatar-xs mr-3">
                <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-18">
                  <i class="bx bx-purchase-tag-alt"></i>
                </span>
              </div>
              <h5 class="font-size-14 mb-0">Produtos(Cardápio)</h5>
            </div>
            <div class="text-muted mt-4">
              <h4 style="text-align: center;"><%=@cardapio%></h4>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
</div>
<!--<div class="row">  
      <div class="col-xl-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Consultar Pedido</h4>
            <div>
              <div id="donut-chart" class="apex-charts"></div>
            </div>
            <div class="text-center text-muted">
              <%= form_with(url: 'admin/consulta_pedido',method: :get) do |form|%>
                <div class="col-sm-12">
                    <label>Nº do Pedido</label><br>
                    
                    <input type="text" class="form-control" name="ordem_pedido"/>
                </div>
                

                <br>
                <div class="col-sm-12">
                    <%=form.submit "SALVAR", class: 'btn btn-primary btn-block'%>
                </div>
              <%end%>
              <label id="statusPedido">Status: <label>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <%= link_to 'teste', '/imprimir/teste', class: 'btn btn-primary'%>
