

<section class="section bg-white osahan-track-order-page position-relative">
    <div class="container pt-5 pb-5">
    <br>
    <br>
    <div class="row d-flex align-items-center">               
        <div class="col-md-6">
            <div class="bg-white p-4 shadow-lg mb-2">
                <div class="mb-2"><small>Pedido #<%= $pedido[0][:codigo_pedido] %></small></div>
                <h6 class="mb-1 mt-1"><a href="/menu" class="text-black"><%= $empresaMenu.nome%>
                </a>
                </h6>
                <p class="text-gray mb-0"><i class="icofont-clock-time"></i> 04:19 PM | <%= $pedido.count%> Itens | <%= number_to_currency(session[:valor_final].to_f, :unit => 'R$ ', :separator => ',')%></p>
            </div>
            <div class="bg-white p-4 shadow-lg mb-2">
                <div class="mb-2"></div>
                <h6 class="mb-1 mt-1"><a href="/menu" class="text-black"><button type="button" class="btn btn-info btn-block">Continuar adicionando Pedidos</button>
                <h6 class="mb-1 mt-1">
                <%= link_to "Limpar Carrinho", '/menu/limpar_carrinho', class: 'btn btn-danger btn-block'%>
                </h6>                
            </div>
            <div class="bg-white p-4 shadow-lg">
                <div class="osahan-track-order-detail po">
                <h5 class="mt-0 mb-3">Detalhes do Pedido</h5>
                <div class="row">
                    <div class="col-md-5">                        
                        <small>Entregar Para</small>
                        <h6 class="mb-1 mt-1"><span class="text-black"><i class="icofont-map-pins"></i> Endereço
                            </span>
                        </h6>
                        <p class="text-gray mb-0" id="entrega_endereco"><%= $entrega[:rua] %>, <%= $entrega[:numero]%> - <%= $entrega[:complemento]%>/<%= $entrega[:cidade]%>
                        </p>
                        <p class="mb-0 text-info">
                            <a href="#" data-toggle="modal" data-target="#modalEntrega"><small>Configurar Entrega</small></a>
                        </p>
                    </div>
                    <div class="col-md-7">
                        <div class="mb-2"><small><i class="icofont-list"></i> <%= $pedido.count%> ITEMS</small></div>
                        <% $pedido.each do |pedido| %>
                        <p class="mb-2"> <%=pedido[:produto_cardapio]%>
                            <% if pedido[:adicionais][0].present? %>
                                (Com Adicionais)
                            <%end%>
                                <span class="float-right text-secondary"><%= number_to_currency(pedido[:valor_com_adicional], :unit => 'R$ ', :separator => ',')%></span></p>
                        <%end%>
                        <p class="mb-2"> Entrega <span class="float-right text-secondary" id="valor_entrega"><%= number_to_currency($entrega[:valor],:unit => 'R$ ')%></span></p>
                        <hr><% entrega = $entrega[:valor].nil? ? 0 : $entrega[:valor]%>
                        <p class="mb-0 font-weight-bold text-black">Valor Total  <span class="float-right text-secondary" id="valor_total_final"><%= number_to_currency(entrega + session[:valor_final],:unit => 'R$ ', :separator => ',')%></span></p>
                        <p class="mb-0 text-info">
                            <a href="#" data-toggle="modal" data-target="#formaDePag"><small>Ajustar Forma de Pagamento</a>
                            <span class="float-right text-danger" id="formaDePagamento">Dinheiro</span></small>
                        </p>
                    </div>
                </div>
                </div>
            </div>
            <div class="bg-white p-4 shadow-lg mt-2 mb-2">
                <div class="mb-2"></div>
                    <h6 class="mb-1 mt-1">
                    <%= link_to "finalizar Pedido", '/menu/finaliza_pedido' ,class: 'btn btn-success btn-block'%>
                </h6>  
            </div>
        </div>
    </div>
    </div>
</section>


<!-- Modal de Entrega -->

<div class="modal fade" id="modalEntrega" tabindex="-1" role="dialog" aria-labelledby="add-address" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="add-address">Endereço de Entrega</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                    <%= form_with(url: '/menu/altera_endereco_entrega', method: :post, remote: true) do |form|%>
                     <div class="form-row">
                        <div class="form-group col-md-12">
                           <label for="inputPassword">Delivery Area</label>
                           <div class="input-group">
                              <select name="delivery_address" class="form-control">
                                <% @delivery.each do |delivery| %>    
                                    <option value="<%=delivery.id%>"><%=delivery.bairro_nome%></option>
                                <%end%>
                              <select>                               
                           </div>
                        </div>
                        <div class="form-group col-md-12">
                           <label for="inputPassword1">Rua
                           </label>
                           <input type="text" class="form-control" placeholder="Rua" name="rua">
                        </div>
                        <div class="form-group col-md-12">
                           <label for="inputPassword2">Número
                           </label>
                           <input type="text" class="form-control" placeholder="Numero" name="numero">
                        </div>  
                        <div class="form-group col-md-12">
                           <label for="inputPassword3">Complemento
                           </label>
                           <input type="text" class="form-control" placeholder="Complemento" name="complemento">
                        </div>
                        <div class="form-group col-md-12">
                           <label for="inputPassword4">Cidade
                           </label>
                           <input type="text" class="form-control" placeholder="Cidade" name="cidade">
                        </div>                       
                     </div>
                  
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn d-flex w-50 text-center justify-content-center btn-outline-primary" data-dismiss="modal">Cancelar
                  </button><button type="submit" class="btn d-flex w-50 text-center justify-content-center btn-primary">Salvar</button>
               </div>
               <%end%>
            </div>
         </div>
      </div>

<!-- Modal de Forma de Pagamento -->

<div class="modal fade" id="formaDePag" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <%= form_with(url: '/menu/altera_forma_pagamento', method: :post, remote: true) do |form| %>
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="TituloModalCentralizado">Forma de Pagamento</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <% pags = Payment.where(company_id: $empresaMenu.id)%>
            <% pags.each do |pag| %>            
                <div class="form-group col-md-12">
                    <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="pag[<%=pag.id%>]" id="<%= pag.id%>pag">
                    <label class="custom-control-label" for="<%= pag.id%>pag"><%= pag.nome %></label>
                    </div>
                </div>
            <%end%>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Alterar</button>
        </div>
        </div>
    <%end%>
  </div>
</div>