

<section class="section bg-white osahan-track-order-page position-relative">
    <div class="container pt-5 pb-5">
    <br>
    <br>
    <div class="row d-flex align-items-center">               
        <div class="col-md-6">
            <div class="bg-white p-4 shadow-lg mb-2">
                <div class="mb-2"><small>Pedido #<%= $pedido[0][:codigo_pedido] %></small></div>
                <h6 class="mb-1 mt-1"><a href="/menu" class="text-black"><%= $empresaMenu.nome%>
                </a>
                </h6>
                <p class="text-gray mb-0"><i class="icofont-clock-time"></i> 04:19 PM | <%= $pedido.count%> Itens | <%= number_to_currency(session[:valor_final].to_f, :unit => 'R$ ', :separator => ',')%></p>
            </div>
            <div class="bg-white p-4 shadow-lg mb-2">
                <div class="mb-2"></div>
                <h6 class="mb-1 mt-1"><a href="/menu" class="text-black"><button type="button" class="btn btn-success btn-block">Continuar adicionando Pedidos</button>
                <h6 class="mb-1 mt-1">
                <%= link_to "Limpar Carrinho", '/menu/limpar_carrinho', class: 'btn btn-danger btn-block'%>
                </h6>                
            </div>
            <div class="bg-white p-4 shadow-lg">
                <div class="osahan-track-order-detail po">
                <h5 class="mt-0 mb-3">Detalhes do Pedido</h5>
                <div class="row">
                    <div class="col-md-5">                        
                        <small>Entregar Para</small>
                        <h6 class="mb-1 mt-1"><span class="text-black"><i class="icofont-map-pins"></i> Other
                            </span>
                        </h6>
                        <p class="text-gray mb-0">291, Jawaddi Kalan, Ludhiana, Punjab 141002, India
                        </p>
                    </div>
                    <div class="col-md-7">
                        <div class="mb-2"><small><i class="icofont-list"></i> <%= $pedido.count%> ITEMS</small></div>
                        <% $pedido.each do |pedido| %>
                        <p class="mb-2"> <%=pedido[:produto_cardapio]%>
                            <% if pedido[:adicionais][0].present? %>
                                (Com Adicionais)
                            <%end%>
                                <span class="float-right text-secondary"><%= number_to_currency(pedido[:valor_com_adicional], :unit => 'R$ ', :separator => ',')%></span></p>
                        <%end%>
                        <p class="mb-2"> Entrega <span class="float-right text-secondary">R$10.00</span></p>
                        <hr>
                        <p class="mb-0 font-weight-bold text-black">Valor Total  <span class="float-right text-secondary"><%= number_to_currency(session[:valor_final].to_f, :unit => 'R$ ', :separator => ',')%></span></p>
                        <p class="mb-0 text-info"><small>Paid via Credit/Debit card
                            <span class="float-right text-danger">$620 OFF</span></small>
                        </p>
                    </div>
                </div>
                </div>
            </div>
            <div class="bg-white p-4 shadow-lg mt-2">
                <div class="row text-center">
                <div class="col">
                    <i class="icofont-tasks icofont-3x text-info"></i>
                    <p class="mt-1 font-weight-bold text-dark mb-0">Order Received</p>
                    <small class="text-info mb-0">NOW</small>
                </div>
                <div class="col">
                    <i class="icofont-check-circled icofont-3x text-success"></i>
                    <p class="mt-1 font-weight-bold text-dark mb-0">Order Confirmed</p>
                    <small class="text-success mb-0">NEXT</small>
                </div>
                <div class="col">
                    <i class="icofont-delivery-time icofont-3x text-primary"></i>
                    <p class="mt-1 font-weight-bold text-dark mb-0">Order Picked Up</p>
                    <small class="text-primary mb-0">LATER (ET : 30min)</small>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
