<div class="content-wrap">
  <div class="img-hero">
    <div>
      <img src="/templateMob/img/slide3.jpg" alt="slider">
    </div>
    <div>
      <img src="/templateMob/img/slide4.jpg" alt="slider">
    </div>
  </div>
  <div class="section-home you-might-like">
    <div class="heading-section">
      <div class="sa-title popcat">Produtos que você vai AMAR...</div>
      <div class="clear"></div>
    </div>    
    
    <div class="yml-carousel">
      <% @produtos_novos.each do |produtos_novo|%>
        <div class="yml-box">
          <a href="/menu/product/<%=produtos_novo.id%>">
            <div class="yml-img">
              <%=image_tag image_product(produtos_novo)%>
            </div>
            <div class="yml-food-text"><%=produtos_novo.nome%></div>
          </a>
        </div>
      <%end%>
    </div>
  </div>
  <div class="section-home s-category">
    <div class="heading-section">
      <div class="sa-title popcat">Categorias</div>
      <div class="clear"></div>
    </div>
    <div class="home-category-list">
      <% @categorias.each do |categoria| %>
        <div class="home-box-category">
          <a href="#<%=categoria.id%>">
          <div class="home-text-category">
            <div class="bc-text"><%= categoria.nome%></div>
          </div>
          <div class="home-image-category">            
            <%=image_tag image_category(categoria)%>
          </div>
          </a>
        </div>
      <%end%>
      <div class="clear"></div>
      <div class=" more-category">
        <div class="theme-button mcbutton">Ver todas as categorias</div>
      </div>
    </div>
  </div>
  <div class="section-home home-news">
    <div class="heading-section">      
      <div class="clear"></div>
    </div>
    <div class="home-news-wrap">
      <% @categorias.each do |categoria_produtos| %>
        <div class="news-item" id="<%=categoria_produtos.id%>">
          <h2 style="text-align: center"><%=categoria_produtos.nome%></h2>
        </div>
        <%@produto_categoria = Product.where(company_id: $empresa).where(status: true)%>
        <%@produto_categoria.each do |produto|%>
            <div class="news-item">
              <a href="/menu/product/<%=produto.id%>">
                <div class="news-content">
                  <div class="hnw-img">                    
                    <%=image_tag image_product(produto)%>
                  </div>
                  <div class="hnw-desc">
                    <div class="hnw-title"><%=produto.nome%></div>
                    <div class="hnw-text">
                      <%=produto.descricao%>
                    </div>
                    <div class="lrcb-left">                  
                      <span class="lhc hours"><i class="fas fa-clock"></i> 27m</span> | 
                      <span class="lhc comment">                      
                        <%= produto.promocao_ativa == true ? number_to_currency(produto.valor_promocional, :unit => 'R$ ') : number_to_currency(produto.valor, :unit => 'R$ ')%>
                      </span>
                    </div>
                  </div>
                  
                </div>
              </a>
            </div>
        <%end%>
      <%end%>
    </div>
  </div>
</div>
