<style>
  .margem-esq{
    margin-left: 15px;
  }
</style>
<section class="restaurant-detailed-banner">
    <!-- Foto de Fundo -->
    <div class="text-center">
    <img class="img-fluid cover" src="https://askbootstrap.com/preview/osahan-eat/img/mall-dedicated-banner.png">
    </div>
</section>

<%= form_with(url: '/menu/armazena_pedido', method: :post, local: true) do |form|%>  

  <section class="offer-dedicated-body pt-2 pb-2 mt-4 mb-4">
    <h2 class="margem-esq" ><%= @produto.nome%></h2>  
    <p class="mb-1 margem-esq"><%= @produto.descricao%></p>  
  </section>

    <% @acompanhamentoBase.each do |base|%>
        <div class="row " style="width: 100%;">
          <h5 class="mb-4 mt-3 col-md-12 margem-esq"><%= base.descricao%> <small class="h6 text-black-50" id="limiteBase<%=base.id%>"><%= base.limite %> ITEMS</small></h5>
              <%adicionais = SideProductStep.where(product_step_id: base.id)%>
              <%adicionais.each do |adicional| %>
                <div class="col-md-12">
                  <div class="bg-white rounded border shadow-sm mb-4">
                      <div class="gold-members p-3 border-bottom">
                        <span class="count-number float-right">
                            <button type="button" class="btn btn-outline-secondary  btn-sm left dec basebuttonMinus<%= base.id%>" onclick="removeItem(<%= adicional.id%>, <%= base.id%>)"> 
                                <i class="icofont-minus"></i> 
                            </button>
                              <input class="count-number-input  base<%= base.id%>" type="text" name="adicional[<%= base.id %>][<%= adicional.id%>]" id="qtdAdicional<%= adicional.id%>" value="0" readonly="">
                            <button type="button" class="btn btn-outline-secondary btn-sm right inc basebutton<%= base.id%>" onclick="adicionaItem(<%= adicional.id%>, <%= base.id%>)"> 
                                <i class="icofont-plus"></i> 
                            </button>
                        </span>
                        <% 
                          nome = ProductSimple.find(adicional.product_simples_id).nome
                        %>
                        <div class="media">
                          <div class="media-body">
                              <h6 class="mb-1"><%= nome %></h6>
                              <p class="text-gray mb-0" id="<%= adicional.id%>valorAdicional"><%= number_to_currency(adicional.valor, :unit => 'R$ ', :separator => ',')%></p>
                          </div>
                        </div>
                      </div> 
                    </div>
                </div>
              <%end%>            
        </div>
  <%end%>


  <%
    if @produto.promocao_ativa == true
        valor = @produto.valor_promocional
        info = 'success'
        promocao = '@Produto promocional'                                        
    else
        valor = @produto.valor
    end
  %>

  <section class="" style="background-color: #68636336;position: fixed;bottom: 15px;width: 100%;">
  <div class="row">
    <div class="col-sm-6" style="width: 40%;">
      <h3 class="margem-esq">Valor Total</h3>  
    </div>
    <div class="col-sm-6" style="width: 60%;">
      <button type="button" class="btn btn-block btn-dark">R$<span id="valor_final"><%= number_to_currency(valor, :unit => '', :separator => ',')%></span></button> 
    </div>
  </div>      
  </section>

<%end%>

<script> 
    function adicionaItem(valor, base){      
      var qtd = $(`#qtdAdicional${valor}`)[0]['value'];
      var limite = $(`#limiteBase${base}`)[0]['textContent'].replace(' ITEMS', '');

      var valorAdicional = $(`#${valor}valorAdicional`)[0]['textContent'].replace('R$ ','').replace(',','.');
      var valorFinal = $('#valor_final')[0]['textContent'].replace(',','.');

      valorfinalcomAdicional = parseFloat(valorFinal) + parseFloat(valorAdicional)

      var somaBase = 0
      $(`.base${base}`).each(function(index){       
       var valor = $(`.base${base}`)[`${index}`]['value'];
       somaBase = somaBase + parseInt(valor); 
      });

      if(somaBase >= parseInt(limite)){
        $(`.basebutton${base}`).attr('disabled', true)
      }else{
        $(`.basebutton${base}`).removeAttr('disabled')
        $('#valor_final')[0]['textContent'] = valorfinalcomAdicional;
        soma = parseInt(qtd) + 1;
        $(`#qtdAdicional${valor}`)[0]['value'] = soma;
      }
    }

</script>

<script>
  
    function removeItem(valor, base){      
      var limite = $(`#limiteBase${base}`)[0]['textContent'].replace(' ITEMS', '');
      var qtd = $(`#qtdAdicional${valor}`)[0]['value'];

      var valorAdicional = $(`#${valor}valorAdicional`)[0]['textContent'].replace('R$ ','').replace(',','.');
      var valorFinal = $('#valor_final')[0]['textContent'].replace(',','.');

      valorfinalcomAdicional = parseFloat(valorFinal) - parseFloat(valorAdicional)
      soma = parseInt(qtd) - 1;
      console.log(soma);
      if(soma < 0){
      }else{
       $(`#qtdAdicional${valor}`)[0]['value'] = soma;
       $('#valor_final')[0]['textContent'] = valorfinalcomAdicional;
      }

      var somaBase = 0
      $(`.base${base}`).each(function(index){       
       var valor = $(`.base${base}`)[`${index}`]['value'];
       somaBase = somaBase + parseInt(valor);        
      });
      
      if(somaBase >= parseInt(limite)){
        $(`.basebutton${base}`).attr('disabled', true)
      }else{
        $(`.basebutton${base}`).removeAttr('disabled')        
      }  
    }
</script>
