<%= form_with(url: '/menu/armazena_pedido', method: :post, local: true) do |form|%>
  <main class="flex-shrink-0 main-container pb-0">
  <!-- page content goes here -->
  <div class="container-fluid h-300 position-relative overflow-hidden">
      <div class="background">
          <img src="/template/mobile/assets/img/food2.jpg" alt="">
      </div>
  </div>
  <div class="container mb-4 top-100">
      <div class="card border-0 shadow-light mb-4">
          <div class="card-body position-relative">
              <div class="top-right mt-2"><button class="btn btn-link text-danger p-0"><i class="material-icons text-danger vm">favorite</i></button></div>
              <h4 class="text-default"><%= @produto.nome%></h4>            
              <div class="row mb-4">
                <% if @produto.promocao_ativa == true
                        valor = @produto.valor_promocional
                    else
                        valor = @produto.valor
                end%>
                  <div class="col text-left">
                      <h4 class="text-success"><%= number_to_currency(valor, :unit => 'R$ ')%></h4>    
                      <p class="mb-1"><%= @produto.descricao%></p>               
                  </div>
              </div>
              
              <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active was-validated " id="details" role="tabpanel" aria-labelledby="details-tab">
                      <h5 class="subtitle" style="text-align: center;">Adicionais Dísponiveis</h5>
                      <br>
                      <% @acompanhamentoBase.each do |base| %>
                      <div class="row">
                        <div class="col-sm-6" style="width: 50%;">
                          <h5 class="subtitle" ><%= base.descricao%></h5>
                        </div>
                        <div class="col-sm-6" style="width: 50%;">
                          <h6><em>Limite de (<%= base.limite %>)</em></h6>
                        </div>
                      </div>
                      <% insumos = SideProductStep.where(product_step_id: base.id) %>
                      <% insumos.each do |insumo| %>
                        <div class="container-fluid px-0">
                            <ul class="list-group list-group-flush mb-4">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col">
                                        <% nomeProdutoSimples = ProductSimple.find(insumo.product_simples_id)%>
                                            <h6 class="text-dark mb-1"><%= nomeProdutoSimples.nome %></h6>
                                            <p class="text-secondary mb-0 small" id="valorInsumo<%=insumo.id%>">+<%= number_to_currency(insumo.valor, :unit => 'R$ ')%></p>
                                        </div>
                                        <div class="col-2 pl-0 align-self-center text-right">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="<%=insumo.id%>insumo" onchange="alteraValor(<%=insumo.id%>)">
                                                <label class="custom-control-label" for="<%=insumo.id%>insumo"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>                                                        
                            </ul>
                        </div>
                      <%end%>
                      <%end%>
                      <div class="container-fluid" style="background-color: #f94620;color: white;/*! align-items: end; */">
                        <div class="row">
                          <div class="col-sm-6" style="width: 50%;">
                            <h5> Valor Total :</h5>
                          </div>
                          <div class="col-sm-6" style="width: 50%;">
                            <h5 ><em id="valor_final">R$<%= valor %></em></h5>
                          </div>
                        </div>                        
                      </div>
                      <br>
                      <div class="container-fluid text-center">                          
                          <%= form.submit "Adicionar", class: 'btn btn-lg btn-outline-default' %>
                      </div>

                  </div>                
              </div>
          </div>
      </div>
  </div>    
  <br><br>
        
  </main>

<%end%>

<script>
    function alteraValor(valor){
      console.log(valor);
      $()
    }
</script>