<!doctype html>
<html lang="pt-BR">
   
<head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Askbootstrap">
      <meta name="author" content="Askbootstrap">
      <title>RenovaFood - Sistema de Delivery</title>
      <!-- Favicon Icon -->
      <link rel="icon" type="image/png" href="../../assets/logo.png">
      <!-- Bootstrap core CSS-->
      <link href="https://askbootstrap.com/preview/osahan-eat/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Font Awesome-->
      <link href="https://askbootstrap.com/preview/osahan-eat/vendor/fontawesome/css/all.min.css" rel="stylesheet">
      <!-- Font Awesome-->
      <link rel="stylesheet" href="/css/icofont/icofont.min.css">
      <!-- Select2 CSS-->
      <link href="https://askbootstrap.com/preview/osahan-eat/vendor/select2/css/select2.min.css" rel="stylesheet">
      <!-- Custom styles for this template-->
      <link href="https://askbootstrap.com/preview/osahan-eat/css/osahan.css" rel="stylesheet">
      <!-- Owl Carousel -->
      <link rel="stylesheet" href="https://askbootstrap.com/preview/osahan-eat/vendor/owl-carousel/owl.carousel.css">
      <link rel="stylesheet" href="https://askbootstrap.com/preview/osahan-eat/vendor/owl-carousel/owl.theme.css">
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light osahan-nav shadow-sm navbar-fixed-top" style="position: fixed;height: auto;width: 100%;">
         <div class="container">
            <a class="navbar-brand" href="https://askbootstrap.com/preview/osahan-eat/index.html">
                <h6>Bem-Vindos a</h6>                
                <h5><%= $empresaMenu.nome%></h5>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                     <a class="nav-link" href="/menu/">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/menu/perfil"> Perfil</a>
                  </li>
                  <li class="nav-item">
                   <%if $pedido.nil?  %>
                     <a class="nav-link" href="#"> Sem Pedidos </a>
                   <%else%>
                     <a class="nav-link" href="/menu/detalhes_pedido"> Pedidos </a>
                   <%end%>
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Categorias
                     </a>
                     <div class="dropdown-menu dropdown-menu-right shadow-sm border-0">
                        <% $categorias.each do |categoria| %>
                        <a class="dropdown-item" href="#<%=categoria.id%>categoria"><%=categoria.nome.upcase%></a>
                        <%end%>                        
                     </div>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
     
      
      <%= yield %>
     
      <footer class="pt-4 pb-4 text-center">
         <div class="container">
            <p class="mt-0 mb-0">© Desenvolvido por UPPER Desenvolvimento</p>
            <small class="mt-0 mb-0"> Administrado por
            <a class="text-danger" target="_blank" href="https://www.instagram.com/iamgurdeeposahan/">RenovaFood</a>
            </small>
         </div>
      </footer>
      <%= javascript_include_tag 'cardapio' %>
      <!-- jQuery -->
      <script src="https://askbootstrap.com/preview/osahan-eat/vendor/jquery/jquery-3.3.1.slim.min.js"></script>
      <!-- Bootstrap core JavaScript-->
      <script src="https://askbootstrap.com/preview/osahan-eat/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Select2 JavaScript-->
      <script src="https://askbootstrap.com/preview/osahan-eat/vendor/select2/js/select2.min.js"></script>
      <!-- Owl Carousel -->
      <script src="https://askbootstrap.com/preview/osahan-eat/vendor/owl-carousel/owl.carousel.js"></script>
      <!-- Custom scripts for all pages-->
      <script src="https://askbootstrap.com/preview/osahan-eat/js/custom.js"></script>
   </body>

</html>